* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background-color: aliceblue;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    pointer-events: none;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(220, 239, 255);
}

.buttons button:active {
    transform: scale(0.99);
}

.operator {
    color: rgb(0, 109, 172);
}

button.hasil {
    background-color: rgb(76, 193, 223);
    color: white;
}

button:hover {
    background-color: rgb(255, 255, 255);
}

button.hasil:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}